# Homework -- Lecture 2: Introduction to Python
    

*Given on February 22, 2022*

[Student Association for Applied Statistics (SAAS)](https://saas.berkeley.edu) <br/>
Authors: [Kavin Suresh](mailto:kavins@berkeley.edu), [Jade Pan](mailto:jpan4@berkeley.edu) <br/>

## Introduction

Amazing! You have just attended the lecture introducing python and all the need-to-know concepts within it! Good job!

Now is the time to put all this new material to work!

## 1. Basic Python Syntax

### 1.1 Jupyter

##### 1.1a: 

Run the cell below by using the keyboard shortcut we learned during lecture.

In [1]:
print("You are a pro who can use JupyterNotebooks! :)")

You are a pro who can use JupyterNotebooks! :)

##### 1.1b: 

Create a markdown cell below this one using the keyboard shortcuts we learned during lecture.

*Hint: This will take more than one keyboard shortcut!*

### 1.2 Code

##### 1.2a: 

Create the following output using print statements in the provided cell.

*Hint: You will need to figure out a way to use the print statement to create the blank line!*

>```
>    SAAS
>    
>    is
>    pretty
>    cool!
>```

In [1]:
#Solution:

### 1.3 Comments

##### 1.3a: 

In the provided code cell below, comment out any lines needed to create the following output.

>```
>    B
>    A
>    N
>    A
>    N
>    A
>```

In [2]:
#Solution:

#Comment out any of the following lines to create the desired output!

print("B")
print("A")
print("N")
print("D")
print("A")
print("N")
print("A")

B
A
N
D
A
N
A

### 1.4 Errors

##### 1.4a: 

Purposely create an error in your code to create an error output. The code can be anything: a function, a variable, or even gibberish from your keyboard. Try to create an error that is not a "SyntaxError"!

In [3]:
#Solution:

#This can be literally anything.

### 1.5 Numbers and Math

**Exercise 1.5.1**: 

Create pi (3.14xxx) using the following operators (+, -, *, /, %, and * *) and any numbers you wish. Do this all within a print statement and print it out!

In [4]:
#Solution:

#Can be done any way you wish!

**Exercise 1.5.2**: 

Swap the location of two operators in the following code cell so that it outputs 30.0 instead of 15.0.

In [6]:
#Solution:

10 * 5 / 10 + 10

15.0

**Exercise 1.5.3**:  

Part a: return the ones digit of 1513.  
Part b: chop off the last digit of 1513 (return 151)  
**Hint:** Make use of the % and // operators.

In [7]:
# Your solution here

## 2. Variables and Functions

### 2.1 Variables

__What can you include in a valid variable name?__ (you can choose multiple answers) <br>
a) uppercase letters <br>
b) the number 0 <br>
c) dashs <br>
d) underscores <br>
e) only one special symbol

__Answer__:

__Which one of the following is a valid variable name?__ <br>
a) gr8_career_exploration_lecture2_intro_to_python <br>
b) j@mes <br>
c) 1amber

__Answer__:

__Give an example of each data type listed below. Check your answer with the <code>type()</code> function__

In [8]:
string = ...
type(string)

ellipsis

In [9]:
integer = ...
type(integer)

ellipsis

In [10]:
float_ = ...
type(float_)

ellipsis

In [11]:
boolean = ...
type(boolean)

ellipsis

Predict the output when we manipulate the variables above

integer+float_

__answer__: (for this section, you can test out the answers by typing the question into a code cell and run the cell!)

type(integer+float_)

__answer__:

string * integer

__answer__:

type(string*integer)

__answer:__

string+integer

__answer:__

boolean*integer

__answer:__

type(boolean+integer)

__answer:__

### 2.2 Control Flow

**Exercise 2.2.1:** Use if, elif and/or while to test if your variable string from above is wordle-able (contains 5 letters exactly). Print <code>too long!</code> if the string contains more than 5 characters, and print <code>too short!</code> if string contains less than 5 characters. If string is wordle-able, print <code>happy wordle!</code>

In [12]:
# Your solution

__Challenge__: do the task above without using <code>len()</code>. You will need a for loop / while statement and a counter. You can come back to the challenge after finishing the for loop exercise.

In [13]:
# Your solution

**Exercise 2.2.2:** A monkey has 30 bananas, everyday he eats one banana and gives one banana to his mom (how sweet). Use if, elif, and/or while statements to prove that the bananas will last the monkey 15 days. Try to work out the solution from scratch first. If you are stuck, use the code cell below for hints.

In [15]:
# Your code here
# hints: these are tracker variables we can use.
bananas = ...
days = ...

**Exercise 2.2.3:** Print out all the numbers between 1 and 100 that are odd.  
**Hint:** What is the remainder when an odd number divides 2?

In [16]:
# your code here

**Exercise 2.2.4:** Drawing on your exercise 1.5.3 method, print out each digit of 2022 in reverse line by line.  
**Hint:** What kind of loop will we need and what is the stopping condition?

In [17]:
# Your code here

### 2.3 Functions

Create a <code>bigger(x,y)</code> function that compares two integer numbers x and y, and returns the bigger number between the two. If the two number are equal to each other, return x.

In [18]:
# Your code here

In [19]:
# test out your function here
bigger(90,31)

NameError: name 'bigger' is not defined

__Challenge__: add to your function so that when the user enters a non-integer x or y value, your function would report an error message <code>inputs are not integers, please try again!</code>

In [20]:
# Your code here

## 3. Arrays and Iteration

### 3.1 Arrays and Lists

##### 3.1a: 

Turn the following list into a nested list that separates based on fruits and vegetables! Fruits should go first and vegetables second.

In [21]:
#Solution

eatYourFruitsAndVeggiesKids = ["Apple", "Banana", "Broccoli", "Mango", "Onion", "Bell Pepper"]
eatYourFruitsAndVeggiesKids = ... # your code here
eatYourFruitsAndVeggiesKids

Ellipsis

##### 3.1b: 

Remove the last item on the list above (stored to eatYourFruitsAndVeggiesKids) and assign it to the variable veggies. Print the veggies variable.

*Hint: This is all doable with just ONE function used.*

In [22]:
#Solution:

veggies = ... # your code here
print(veggies)

Ellipsis

##### 3.1c: 

Insert "Eggplant" into the beginning of the veggies list. Print the veggies variable.

*Hint: Once again, this is doable with just ONE function used.*

In [23]:
#Solution:

veggies.# your code here
veggies

SyntaxError: invalid syntax (3642831070.py, line 3)

### 3.2 Dictionaries

Below are two lists: one of veggies and one of their corresponding calories. Please convert them into a dictionary named <code>calories</code>in a way that item from <code>veggies</code> is the key and item from <code>veggies_calories</code> is the value

In [24]:
veggies = ["Eggplant","Mushroom","Broccoli", "Tomato", "Onion", "Bell Pepper"]
veggies_calories = [20,23,45,10,90,64]

In [25]:
#your code here

If you have more time and want to try out more dictionary exercises, check out this [link](https://pynative.com/python-dictionary-exercise-with-solutions/#h-exercise-1-convert-two-lists-into-a-dictionary)

### 3.3 For Loops

##### 3.3a: 

You will be provided two lists. Use two for loops to iterate through the lists and multiply all values of one list with all values of the other and print the results. For example, if a list is [1, 2] and another is [3, 4], then 1\*3, 1\*4, 2\*3, and 2\*4 should occur.


*Hint: [This link](https://pynative.com/python-nested-loops/) will be useful.*

In [26]:
list1 = [1, 5, 8, 9, 11]
list2 = [2, 4, 7, 10, 12]

# your code here