# [CS Series] Lecture 2: Fundamental Python
### April 13, 2022
Lecture created by: Jasmine Lee 

### Table Of Contents
* [Introduction](#intro)
* [Datatypes and Values](#types)
* [Variables](#var)
* [Iterations](#iter)
    * [Lists](#lists)
        * [Lists Methods](#lstmethod)
    * [Dictionaries](#dict)
* [Functions](#func)
* [Control Flow](#control-flow)
* [References](#ref)

<a id='intro'></a>
# Introduction

### Why do we care about Python? 

* it is very commonly used in both industries and academics 
![alt text](https://www.botreetechnologies.com/blog/wp-content/uploads/2020/12/major-companies-that-use-python.png "comps")
    * it is a skillset highly used in companies such as Google, Spotify, Intel, Amazon, etc 
    * it doesn't limit the user to only one industry
    * commonly used in classes not only in Data Science classes, but also in Computer Science, Economics, and more! 
* it is a language similar enough to English 
    * easier understanding
* has many libraries 
    * mature ecosystem 
* basically everyone uses Python
![alt text](https://miro.medium.com/max/1080/1*dwygHwM93WANAlpDBovVWg.jpeg "chart")

#### As a side note: libraries for Python are downloaded from Python Index Package (PIP) 
    * anything with that said "import from" means that we are using a library
<hr />

<a id='types'></a>

# 1. Datatypes and Values 

## Real Numbers
#### Python has two real numbers datatypes, which are integers and floats 

### Integers (Int)
* A number (integer) of any size 
* Integers do not have a decimal point 

### Floats 
* A number with optional decimal point or a fraction point 
* Always has a decimal point 

We can perform arithmetic computations on integers and floats (try out the exercises below)!

In [1]:
# Examples 
# using the function type() will allow you to see the datatype of a particular input 
type(6)

int

In [2]:
# Examples 
type(6.1)

float

As we can see, the number with a decimal point is assigned a type "float" whereas the number without a decimal point is an int. 

#### Limitations on the Float datatype 
* there exists a limited size on float 
* they have a precision point of 15 to 16 decimal places 
* sometimes the final few decimal points may be arithmetically incorrect (certain degree of imprecision exists) 
* converting a float to an integer using the int() function loses all the numbers after the decimal point

Exercises 
1. What is the data type of the number 10000? <br>
    A. Float <br>
    B. Integer <br>
2. What is the data type of the number 0? <br>
    A. Float <br>
    B. Integer <br> 
3. What is the data type of the number 0.0? <br>
   A. Float <br>
    B. Integer <br>

### Strings 
* a string is a datatype pertaining to any snippet of text 
* can consist of numbers that are converted to strings 
* can convert any other data types into a string by using the str() function (will further explore in exercises and examples) 

### Boolean
* only two possible outcomes (True or False)

In [3]:
# Example
type("SAAS is awesome")

str

In [4]:
# Example
type('I am hungry')

str

In [5]:
# Example 
type('9')

str

In [6]:
# Example 
type('9.13434')

str

In [7]:
# Example
# We can use the str() to convert a real number into a string 
type(str(9))

str

In [8]:
# Example 
type(True)

bool

Exercises: 
1. What is the type of the following value "today is monday"? 
2. Can I convert a float into a string? 
3. Can I convert a string into an int? 

<hr />

<a id='var'></a>
# 2. Variables
Variables allow users to save a value to a named object via an assignment statement. In Python, we can create an assignment statement via the format (variable name) = (value assigned) 

For example, an assignment statement can look like: var = 20 

In this case, var is going to be the variable name while 20 is going to be the value that is stored within the variable name var. We can access the variable by its name, var, and whenever we do, it is going to print out 20 as shown below:

In [9]:
var = 20
var

20

A variable name can be any combinations of numbers, letters and underscores. For example, day1 or year_2022 would be valid variable names. 

Exercises: 
Are the following variable names valid? Why?
* saas
* saas_in2022
* welcome-to_saas
* 2022_saas

In order for Python to not error, any variable name must be assigned to a value but that may not be the case vice versa. Once a variable has been assigned, then you can continue to access it for the rest of the jupyter notebook or your codeblock.

In [10]:
today

NameError: name 'today' is not defined

In [ ]:
20

In [ ]:
var

<hr />

<a id='iter'></a>
# 3. Iterations

<a id='lists'></a>
## 3.1 Lists and Arrays
Another type of data storage in Python is known are lists and arrays, which allows you to store and add items. They can be assigned to a variable name with values of different variable types with squared brackets. For instance:

In [ ]:
# Example of a list
lst = [1,3.3,'hi',False]
lst

In [ ]:
# Example of an array  
arr = [1,2,3,4]
arr

The main difference between lists and arrays is that lists are able to store values of different datatypes whereas arrays can only store items with the same datatype. 

Each item in a list has an index that we can point to in order to access the value. We can index into arrays using the following syntax: list[index number]

In [ ]:
# Example of list indexing 
lst[2]

Notice that the first item in the list lst is indexed as 0 and the second item is indexed as 1, etc. 

Additionally, list has a build-in function called len() that calculates the length of the list or array.

In [ ]:
# Example of len() usage
len(lst)

<a id='lstmethod'></a>
### Methods for Lists
Since lists and arrays are objects in Python, they have methods which are functions specific for the list and array datatypes. Methods are written as {variable name}.{method name}.

Lists also have a couple methods that are useful for coding. 

1. We can add items into the end of lists by using the append() method

In [ ]:
# Example 
lst.append('new')
lst

2. We can use pop() method to remove and return the last item of the list

In [ ]:
lst.pop()

3. We can use the insert(pos, item) method to add item to pos and push all the rest of the elements to the right of the list

In [ ]:
# Example will add another element with the string value "new_elem" where 3.3 is and move the rest of the elements to the right
lst.insert(1,'new_elem')
lst

4. We can use the remove(val) method to take out an element of the given val from the list

In [ ]:
# Example will remove the 'hi' element from position 3 in the lst list
lst.remove('hi')
lst

There exists many other methods for lists but these four methods are the most commonly used or seen methods. 

Exercises:
Given a list called exer_lst with the value [1,2,'hi',4.5,'66.2'], what does the following do to exer_lst?
1. exer_lst.append('hi')
2. exer_lst.remove(2)
3. exer_lst.insert(0,2)
4. exer_lst.append('hi')
5. exer_lst.remove('hi')
6. exer_lst.remove('hi')

We can also have a nested list where the elements of a more general list are lists such as:

In [ ]:
# Example of a nested list 
lstnested = [[1,2,3],[4,5,6]]
lstnested

These nested lists will have the same methods and functions as lists that are not nested.

<a id='dict'></a>
## 3.2 Dictionaries

Dictionaries are also a data type and it allows us to map pairs of values by using a mapping system. In dictionaries, we will be using key-value pairs. 

#### Example curtesy of Rosa Choe and Ajay Raj 
For example, we might want to map students' names to their grades.

In [ ]:
grades = {} # this is how you will be assigning a dictionary to a variable
grades["caro"] = "0.5"
grades["joyce"] = "95"
grades["harry"] = "55"
grades

We can also declare a new dictionary with the following syntax:

In [ ]:
dct = {
    "a": {
        "aardvark": "looks like an anteater",
        "amazing": "u"
    },
    "b": {
        "baah": "sound sheep make",
        "bark": "how dog talk"
    }
}
dct

We can access the value that is mapped to the key by using the following syntax (let's say we want to access the definition of aardvark by double-indexing):

In [ ]:
dct['a']['aardvark']

Exercises: 

Given the following dictionary:

In [ ]:
restaurants = {
    "sliver": {
        "averagePrice": 10,
        "rating": 4,
        "review": "Fire"
    },
    "bongoburger": {
        "averagePrice": 15,
        "rating": 5, 
        "review": "Not Filling"
    }
}

1. How do we find the averagePrice of sliver? 
2. How do we find the review of bongoburder? 

<hr \>

<a id='func'></a>
# 4. Functions

While Lists and Dictionaries are objects, we will now introduce functions, which are another type of objects that allow you to name a particular set of expressions under the following syntax: 

$$ \text{def{function name}:} $$
$$   \text{{function body}} $$

Here are some examples: 

Suppose we want to define a function that will take in a variable and return the variable cubed:

In [ ]:
def cubed(x):
    return x**3

After defining this function called cubed, we can call the function to use the expression.

In [ ]:
# Calling cubed and pass a variable with the value 5.
var = 5
cubed(var)

# This is the same thing as calling the cubed function with the integer 5 (both return the same results)
cubed(5)

Exercise: 

Define a function that allows you to compute the mean of an array (we will start the exercise for you):

In [ ]:
def avg(arr):
    ___
    return ____

You may not need the first underline but it may help for you to assign a variable to your calculated equation and return the variable.

<hr \>

<a id='control-flow'></a>
# 5. Control Flow

Recall that we discussed what booleans are in part 2 of the lecture. 

Control flow allows us to decide if we want to conditionally execute code, or run a certain line of code multiple times. Here are a couple control flow operations.
1. 'If' statement: allows you to execute the block of code if and only if the condition is satisfied

Here is an example using the 'if' statement:

In [ ]:
x = 6
if x < 10:
    x = x + 2
x

Would the code above execute? If so, what would be the end result (ie, what would the expression print out? What about the following block of code?

In [ ]:
x = 12
if x < 10:
    x = x + 2

We can also add 'elif' or 'else' statements to increase complexity. Here is an example:

In [ ]:
if x < 10:
    x = x + 2
elif x > 10:
    x = x - 2
else:
    print("done!")

Exercises: 
1. Would the block of code above error if x = 11? If not, what would be printed after the code executes?
2. Would the block of code above error if x = 14.5? If not, what would be printed after the code executes?
3. Would the block of code above error if x = 'hi'? If not, what would be printed after the code executes?

<hr \>

<a id='ref'></a>
## References 

* Data 8 Lecture 2
* CX Series: Lecture 2 

<hr \>