In [1]:
import numpy as np
import pandas as pd

# CX Kaggle Competition: Salary Prediction

### Table of Contents

* [5. Setup](#setup)
* [6. Validation](#validation)
* [7. Accuracy & Error](#rmse)
* [8. Different Models](#models)
* [9. Submission](#submission)

### Hosted by and maintained by the [Students Association of Applied Statistics (SAAS)](https://saas.berkeley.edu). Authored by Jasmine Lee and Akhil Vemuri.

# Modeling

We will now be creating various regression models in order to predict the ```totalyearlycompensation``` column of our data. There are multiple different parts to manage when modeling, such as splitting the data, fitting an appropriate model, testing / evaluating our model, and predicting against the test dataset. We will also later determine which model performs the best on our data.

<span id="setup"></span>

## Setup

**Question 1:** While it is possible to use categorical features in predictive modeling, for simplicity sake, we will filter out all non-numerical columns. Fill in the blanks such that only columns of type ```int``` or ```float``` remain.

In [2]:
train = pd.read_csv("train.csv")
X_train = train.drop(labels=['totalyearlycompensation'], axis=1)
y_train = train.loc[:, 'totalyearlycompensation']

X_train = X_train.select_dtypes(include=['int', 'float']).drop(train.columns[0], axis=1)
X_train

,yearsofexperience,yearsatcompany,stockgrantvalue,bonus,cityid,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,2.0,0.0,0.0,20000.0,7839,1,0,0,0,0,0,0,0,0,1
1,15.0,4.0,0.0,23000.0,8909,0,0,0,0,0,0,0,0,0,0
2,2.0,0.0,29000.0,23000.0,10182,0,1,0,0,0,0,1,0,0,0
3,1.0,1.0,65000.0,30000.0,7392,1,0,0,0,0,1,0,0,0,0
4,9.0,0.0,12000.0,15000.0,8816,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,12.0,1.0,10000.0,0.0,7419,0,0,0,0,0,0,0,0,0,0
50109,10.0,0.0,39000.0,29000.0,40303,0,0,0,0,0,0,0,0,0,0
50110,6.0,0.0,91000.0,28000.0,7419,0,0,0,0,0,0,0,0,0,0
50111,2.0,2.0,75000.0,0.0,7351,0,0,0,0,0,0,0,0,0,0
50112,6.0,6.0,0.0,14000.0,7422,0,0,0,0,0,0,0,0,0,0

#### One Hot Encoding (OPTIONAL)

Although we just removed all the categorical columns, those extra features can still be leveraged to potentially obtain a better model.

Use sklearn's [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) object to transform the categorical columns to numerical ones.

In [3]:
from sklearn.preprocessing import OneHotEncoder

# train = pd.read_csv("train.csv")
# X_train = train.drop(labels=['totalyearlycompensation'], axis=1)
# y_train = train.loc[:, 'totalyearlycompensation']

# YOUR CODE HERE
...

Ellipsis

<span id="validation"></span>

## Validation

**Question 2:** Use the [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) function to split up your training data into a training set and a validation set. The typical size of the validation set is also 20% of the full training data.

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

#### K-Fold Cross Validation

The validation method above is usable but not that robust. K-Fold Cross-Validation should be better.

**Question 3:** Feel free to set up your own K-Fold cross-validation scheme. For more information, please read https://towardsdatascience.com/cross-validation-a-beginners-guide-5b8ca04962cd.

In [5]:
# Complete this as an exercise, but you can continue rest of this notebook using single validation
from sklearn.model_selection import KFold
kf = KFold(n_splits=5)

<span id="rmse"></span>

## Accuracy & Error

Our Kaggle competition uses Root-Mean-Square-Error (RMSE) as the error metric. In mathematical notation, it is:

$$\text{RMSE}(\hat{y}, y) = \sqrt{\frac{1}{n} \sum_{i = 1}^n (y_i - \hat{y}_i)^2}.$$

**Question 4:** Complete the function below.

In [6]:
from sklearn.metrics import mean_squared_error
def rmse(y_true, y_pred):
    return mean_squared_error(y_true, y_pred)**0.5

<span id="models"></span>

## Analyzing Different Models

We will now analyze various different regressive models and compare how well they perform.

### Linear Regression

**Question 5:** Fit a linear regression model to your training data and report your RMSE.

*Hint: Simply run the following cells*

In [7]:
from sklearn.linear_model import LinearRegression

# Instantiate sklearn's linear regression object
lr = LinearRegression()

# Fit linear regression model
lr.fit(X_train, y_train)

LinearRegression()

In [8]:
# Predict against X_train using fitted model above
lr_train_pred = lr.predict(X_train)

# Calculate RMSE of predicted training output
rmse(y_train, lr_train_pred)

74637.41605606221

In [9]:
lr_val_pred = lr.predict(X_val)

# Calculate RMSE of validation output
## Notice our accuracy on the validation data is slightly worse - this is expected
rmse(y_val, lr_val_pred)

78331.596485081

### Random Forests

**Question 6:** Fit a random forest model to your data and report your RMSE.

**NOTE:** If you're finding that your model is performing worse than your linear regression, make sure you tune the parameters to the RandomForestRegressor! Try to understand what the parameters mean by looking at the Decision Trees lecture.

In [10]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=50)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=50)

In [11]:
rf_train_pred = rf.predict(X_train)
rmse(y_train, rf_train_pred)

26525.306970041373

In [12]:
rf_val_pred = rf.predict(X_val)
rmse(y_val, rf_val_pred)

55838.78673244079

Looks like a case of overfitting since the training error >> validation error. Random forests / decision trees are notorious for overfitting as well due to how much they fit to the training data, but we can tune different parameters such as ```max_depth``` or ```n_estimators``` in order to increase bias and improve the model's predictive ability.

When tuning parameters, remember to predict against the validation data and not the test data!!

### Logistic Regression

Haha, don't get fooled here! Logistic regression (when combined with a decision rule) is really just a classification algorithm in disguise. In this case, we are looking for a numerical output, so logistic regression doesn't make sense at all.

### Ridge Regression

**Question 7:** Fit a ridge regression model and report your RMSE.

In [13]:
from sklearn.linear_model import Ridge

# YOUR CODE HERE
rr = Ridge(alpha=1e3)
rr.fit(X_train, y_train)

rr_train_pred = rr.predict(X_train)
print(rmse(y_train, rr_train_pred))

rr_val_pred = rr.predict(X_val)
print(rmse(y_val, rr_val_pred))

74675.03810460602
78383.87930547282

**Question 8:** Do you notice a difference between the Ridge Regression model and the Linear Regression one? Does changing the regularization parameter increase or decrease accuracy? What does this tell you about the data?

**Answer:** There isn't much difference between the two models. Regularization is supposed to penalize larger weights such that one feature doesn't take up all the predicting power, so increasing ```alpha``` should reduce the variance, but the accuracy still doesn't seem to be any better than the Linear Regression model. This shows that our data doesn't suffer much from multicollinearity, and therefore a Ridge Regression model probably isn't the best choice.

### Support Vector Regression (OPTIONAL)

Fit a support vector regression model and report your RMSE.

**NOTE:** Support vectors machines (SVMs) often tend to overfit due to the nature of how they "enforce" correct classification of data points. This is also an out-of-scope topic, but it serves just to show that fancier models don't always prevail.

If you would like to understand more about support vector regression, please read https://towardsdatascience.com/unlocking-the-true-power-of-support-vector-regression-847fd123a4a0.

In [14]:
from sklearn.svm import SVR
svr = SVR(C=0.001, kernel='linear')

In [15]:
svr.fit(X_train[:10000], y_train[:10000])    # Limiting to 10000 samples b/c SVR takes a while

SVR(C=0.001, kernel='linear')

In [16]:
svr_train_pred = svr.predict(X_train)
rmse(y_train, svr_train_pred)

78540.53106286435

In [17]:
svr_val_pred = svr.predict(X_val)
rmse(y_val, svr_val_pred)

83998.36471966408

### Neural Networks (OPTIONAL)

Train a neural network on the data. Report your RMSE.

**NOTE**: Neural Networks require a lot of time to train and it is better to use GPU to train them. Kaggle provides free weekly GPU usage(37 hours/week). To use GPU, choose 'GPU' in the Accelerator from Settings located on the right side of your screen.

In [18]:
# YOUR CODE HERE
...

### Your Own Model

There's tons of regressive models out there to choose from. Some perform better in certain situations than others, and some require specific assumptions about the data to even work. If you would like to try out more models, please read https://towardsdatascience.com/7-of-the-most-commonly-used-regression-algorithms-and-how-to-choose-the-right-one-fc3c8890f9e3.

<span id="submission"></span>

## Submission

**Question 9:** Choose the model that performed best on the validation data. Use that model to predict against the test data.

In [19]:
X_test = pd.read_csv("test.csv")
X_test = X_test.select_dtypes(include=['int', 'float']).drop(train.columns[0], axis=1)
X_test

,yearsofexperience,yearsatcompany,stockgrantvalue,bonus,cityid,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,4.0,0.0,6000.0,15000.0,6580,0,0,0,0,0,0,0,0,0,0
1,10.0,1.0,74000.0,16000.0,8198,0,0,0,0,0,0,0,0,0,0
2,10.0,5.0,40000.0,0.0,1311,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,0.0,1000.0,9592,0,1,0,0,0,1,0,0,0,0
4,5.0,1.0,15000.0,15000.0,7422,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12524,8.0,3.0,165000.0,0.0,7472,0,0,0,0,0,0,0,0,0,0
12525,17.0,10.0,320000.0,0.0,11527,1,0,0,0,0,1,0,0,0,0
12526,11.0,0.0,30000.0,30000.0,7434,1,0,0,0,0,1,0,0,0,0
12527,10.0,1.0,75000.0,30000.0,11420,0,1,0,0,0,0,1,0,0,0
12528,2.0,2.0,51000.0,9000.0,7419,1,0,0,0,0,0,0,0,0,0

In [20]:
y_test_pred = rf.predict(X_test)    # Choose best model to predict using
y_test_pred

array([110640., 254820., 158020., ..., 229660., 298280., 200640.])

Run the below cells to save your predicted test values.

In [23]:
from datetime import datetime

def results_to_csv(data, y_test):
    y_test = y_test.astype(int)
    df = pd.DataFrame({'totalyearlycompensation': y_test})
    df.to_csv(data + '_submission_' + datetime.now().strftime("%Y_%m_%d-%H_%M_%S") + '.csv',
              index_label='key')

In [24]:
results_to_csv("salary", y_test_pred)