# Homework -- Lecture 2: Introduction to Python
    

*Given on February 22, 2022*

[Student Association for Applied Statistics (SAAS)](https://saas.berkeley.edu) <br/>
Authors: [Kavin Suresh](mailto:kavins@berkeley.edu), [Jade Pan](mailto:jpan4@berkeley.edu) <br/>

## Introduction

Amazing! You have just attended the lecture introducing python and all the need-to-know concepts within it! Good job!

Now is the time to put all this new material to work!

## 1. Basic Python Syntax

### 1.1 Jupyter

##### 1.1a: 

Run the cell below by using the keyboard shortcut we learned during lecture.

In [ ]:
print("You are a pro who can use JupyterNotebooks! :)")

__answer__: Press "Shift + Enter"

##### 1.1b: 

Create a markdown cell below this one using the keyboard shortcuts we learned during lecture.

*Hint: This will take more than one keyboard shortcut!*

__answer__: Press B, then Esc + M

### 1.2 Code

##### 1.2a: 

Create the following output using print statements in the provided cell.

*Hint: You will need to figure out a way to use the print statement to create the blank line!*

>```
>    SAAS
>    
>    is
>    pretty
>    cool!
>```

In [1]:
#Solution:

print("SAAS")
print()
print("is")
print("pretty")
print("cool!")

SAAS

is
pretty
cool!

### 1.3 Comments

##### 1.3a: 

In the provided code cell below, comment out any lines needed to create the following output.

>```
>    B
>    A
>    N
>    A
>    N
>    A
>```

In [2]:
#Solution:

#Comment out any of the following lines to create the desired output!

print("B")
print("A")
print("N")
# print("D")
print("A")
print("N")
print("A")

B
A
N
A
N
A

### 1.4 Errors

##### 1.4a: 

Purposely create an error in your code to create an error output. The code can be anything: a function, a variable, or even gibberish from your keyboard. Try to create an error that is not a "SyntaxError"!

In [3]:
#Solution:

#This can be literally anything.

#NameError where the variable is called before being defined.
x

NameError: name 'x' is not defined

### 1.5 Numbers and Math

##### 1.5a: 

Create pi (3.14xxx) using the following operators (+, -, *, /, %, and * *) and any numbers you wish. Do this all within a print statement and print it out!

In [19]:
#Solution:

#Can be done any way you wish!
print((10+10-20/5)%6-1+0.14)

3.14

##### 1.5b: 

Swap the location of two operators in the following code cell so that it outputs 30.0 instead of 15.0.

In [23]:
#Solution:

10 / 5 * 10 + 10

30.0

## 2. Variables and Functions

### 2.1 Variables

__What can you include in a valid variable name?__ (you can choose multiple answers) <br>
a) uppercase letters <br>
b) the number 0 <br>
c) dashs <br>
d) underscores <br>
e) only one special symbol

__Answer__: a, b, d<br>(Explanation: Variable names can be any combination of letters, numbers, and underscores, starting with a letter or underscore)

__Which one of the following is a valid variable name?__ <br>
a) gr8_career_exploration_lecture2_intro_to_python <br>
b) j@mes <br>
c) 1amber

__Answer__: a <br> Explanation: b - cannot have special symbol like @; c - cannot start with a number

__Give an example of each data type listed below. Check your answer with the <code>type()</code> function__

In [15]:
string = "monkey"
type(string)

str

In [16]:
integer = 4
type(integer)

int

In [17]:
float_ = 0.5
type(float_)

float

In [18]:
boolean = True
type(boolean)

bool

Predict the output when we manipulate the variables above

integer+float_

__answer__: (for this section, you can test out the answers by typing the question into a code cell and run the cell!)

type(integer+float_)

__answer__:

string * integer

__answer__:

type(string*integer)

__answer:__

string+integer

__answer:__

boolean*integer

__answer:__

type(boolean+integer)

__answer:__

### 2.2 Control Flow

Use if, elif and/or while to test if your variable string from above is wordle-able (contains 5 letters exactly). Print <code>too long!</code> if the string contains more than 5 characters, and print <code>too short!</code> if string contains less than 5 characters. If string is wordle-able, print <code>happy wordle!</code>

In [23]:
#sample solution
if len(string) >5:
    print("too long!")
elif len(string):
    print("too short!")
else:
    print("happy wordle!")

too long!

__Challenge__: do the task above without using <code>len()</code>. You will need a for loop, while statement and a counter. You can come back to the challenge after finishing the for loop exercise.

In [24]:
#sample solution
counter = 0
for i in string:
    counter = counter +1

if counter >5:
    print("too long!")
elif counter <5:
    print("too short!")
else:
    print("happy wordle!")

too long!

A monkey has 30 bananas, everyday he eats one banana and gives one banana to his mom (how sweet). Use if, elif, and/or while statements to prove that the bananas will last the monkey 15 days. Try to work out the solution from scratch first. If you are stuck, use the code cell below for hints.

In [25]:
# your code here
# sample solution
bananas = 30
days = 0
while bananas >0:
    bananas = bananas-2
    days=days+1
print(days)
print(bananas)

15
0

In [27]:
# hints:
bananas = ...
days = ...

### 2.3 Functions

Create a <code>bigger(x,y)</code> function that compares two integer numbers x and y, and returns the bigger number between the two. If the two number are equal to each other, return x.

In [28]:
#sample solution
def bigger(x,y):
    if y>x:
        return y
    else:
        return x

In [29]:
# test out your function here
bigger(90,31)

90

__Challenge__: add to your function so that when the user enters a non-integer x or y value, your function would report an error message <code>inputs are not integers, please try again!</code>

In [30]:
#sample solution
def bigger(x,y):
    if type(x)!=int or type(y)!=int:
        print("inputs are not integers, please try again")
        return #must end the function by using a blank return statement
    if y>x:
        return y
    else:
        return x

## 3. Arrays and Iteration

### 3.1 Arrays and Lists

##### 3.1a: 

Turn the following list into a nested list that separates based on fruits and vegetables! Fruits should go first and vegetables second.

In [26]:
#Solution

eatYourFruitsAndVeggiesKids = ["Apple", "Banana", "Broccoli", "Mango", "Onion", "Bell Pepper"]
eatYourFruitsAndVeggiesKids = [["Apple", "Banana", "Mango"], ["Broccoli", "Onion", "Bell Pepper"]]
eatYourFruitsAndVeggiesKids

[['Apple', 'Banana', 'Mango'], ['Broccoli', 'Onion', 'Bell Pepper']]

##### 3.1b: 

Remove the last item on the list above (stored to eatYourFruitsAndVeggiesKids) and assign it to the variable veggies. Print the veggies variable.

*Hint: This is all doable with just ONE function used.*

In [27]:
#Solution:

veggies = eatYourFruitsAndVeggiesKids.pop()
print(veggies)

['Broccoli', 'Onion', 'Bell Pepper']

##### 3.1c: 

Insert "Eggplant" into the beginning of the veggies list. Print the veggies variable.

*Hint: Once again, this is doable with just ONE function used.*

In [28]:
#Solution:

veggies.insert(0, "Eggplant")
veggies

['Eggplant', 'Broccoli', 'Onion', 'Bell Pepper']

### 3.2 Dictionaries

Below are two lists: one of veggies and one of their corresponding calories. Please convert them into a dictionary named <code>calories</code>in a way that item from <code>veggies</code> is the key and item from <code>veggies_calories</code> is the value

In [35]:
veggies = ["Eggplant","Mushroom","Broccoli", "Tomato", "Onion", "Bell Pepper"]
veggies_calories = [20,23,45,10,90,64]

In [36]:
#sample solution
calories = dict()

for i in range(len(veggies)):
    calories.update({veggies[i]: veggies_calories[i]})
print(calories)

{'Eggplant': 20, 'Mushroom': 23, 'Broccoli': 45, 'Tomato': 10, 'Onion': 90, 'Bell Pepper': 64}

If you have more time and want to try out more dictionary exercises, check out this [link](https://pynative.com/python-dictionary-exercise-with-solutions/#h-exercise-1-convert-two-lists-into-a-dictionary)

### 3.3 For Loops

##### 3.3a: 

You will be provided two lists. Use two for loops to iterate through the lists and multiply all values of one list with all values of the other and print the results. For example, if a list is [1, 2] and another is [3, 4], then 1\*3, 1\*4, 2\*3, and 2\*4 should occur.


*Hint: [This link](https://pynative.com/python-nested-loops/) will be useful.*

In [29]:
#Solution:

list1 = [1, 5, 8, 9, 11]
list2 = [2, 4, 7, 10, 12]

for i in list1:
    for j in list2:
        print(i*j)

2
4
7
10
12
10
20
35
50
60
16
32
56
80
96
18
36
63
90
108
22
44
77
110
132